/* -------------------------------- Tablette  ------------------------------- */
@media screen and (max-height:800px) {
    .name {
        font-size: 40px !important;
    }

    .cardInt {
        padding-left: 0;
    }

    .stats p {
        font-size: 14px;
    }

    .life {
        margin-top: 0;
        margin-bottom: 0;
    }


    .life img {
        width: 28px;
        height: 28px;
        margin-right: 3px;
    }

    .heroImg {
        height: 160px;
        width: auto;
    }

    .badguyImg {
        height: 130px;
        width: auto;
        margin-left: -60px;
        margin-right: 0;
    }

    #badGuyName {
        margin-top: -40px;
    }
}

/* ---------------------------------- Phone --------------------------------- */
@media screen and (max-height:500px) {
    .side {
        display: none;
    }

    .info {
        height: 20px;
        margin-top: 0;
    }

    .level {
        font-size: 20px;
    }

    .combat {
        align-items: center;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .cardCombat {
        width: 270px;
        height: 135px;
    }

    .cardHero {
        align-self: center;
    }

    .portrait img {
        height: 120px;
        width: auto;
        margin: 0;
        margin-top: -40px;
    }

    .cardInt {
        padding: 0;
    }

    .cardEnnemy .cardInt {
        margin-left: 0px;
    }

    .cardEnnemy .cardInt .portrait img {
        height: 120px;
        width: auto;
        margin-top: -40px;
    }

    .ennemyStats {
        align-items: flex-end;
    }

    .name {
        margin: 0;
        font-size: 24px !important;
    }

    .life {
        width: 100px;

    }

    .life img {
        height: 22px;
        width: 22px;
    }

    .portrait {
        width: 30%;
    }

    .HP {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .stats {
        margin: 0;
        width: 70%;
        padding: 0;
        height: 100%;
        margin-top: -18px;

    }

    .cardHero .cardInt .stats {
        margin-left: 25px;

    }

    .ennemyStats .HP {
        margin-top: 30px;
    }

    .ennemyStats {
        padding-right: 25px;
        margin-top: -26px;
    }

    .stats p {
        font-size: 14px;
    }

    #healthBar {
        width: 170px;
        height: 14px;
        border-radius: 18px;
        padding: 2px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    #badguyHealthBar {
        width: 170px;
        height: 14px;
        border-radius: 18px;
        padding: 2px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .hpBar {
        height: 7px;
    }

    .manaBar {
        height: 3px;
    }

    .control {
        grid-gap: 10px;
        width: 40%;
        margin-top: 0;
    }

    .control button {
        border-radius: 30px;
        font-size: 18px;
        min-height: 50px;
    }

    .attackImg {
        background-color: var(--background);
        border-radius: 50px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .attackImg img {
        height: 50px;
        width: auto;
        margin: auto;
    }

    .settings {
        left: 15px;
        bottom: 10px;
        padding: 5px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .settings img {
        height: 20px;
        width: 20px;
    }
}

/* ------------------------------- Small phone ------------------------------ */
@media screen and (max-height:380px) {
    .combat {
        height: 35%;
    }

    .cardCombat {
        width: 200px;
        height: 100px;
    }

    .stats {
        height: 70%;
        margin-top: 0;
    }

    .stats p {
        display: none;
    }

    .name {
        display: block !important;
    }

    .ennemyStats {
        padding-right: 10px;
    }

    .portrait img {
        margin-left: 0;
    }

    .heroImg {
        height: 100px;
        margin-left: -20px !important;
    }

    #healthBar {
        width: 130px;
    }

    #heroManaBar {
        width: 130px;
    }

    #badguyHealthBar {
        margin-top: 30px;
        margin-bottom: 0;
    }



}

/* -------------------------------- Micro Tel ------------------------------- */
@media screen and (max-height : 300px) {
    .combat {
        height: 25%;
    }

    .cardCombat {
        border-radius: 15px;
    }

    .cardCombat {
        width: 200px;
        height: 100px;
    }

    .control {
        gap: 10px;
        margin-top: 30px;
        margin: auto;
        width: 20vw !important;
        min-width: 320px;

    }

    .HP {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .control button {
        min-height: 40px;
        font-size: 14px;

    }

    .attackImg {
        height: 25px;
        width: 25px;
    }

    .attackImg img {
        height: 28px;
    }

    .ennemyStats {
        margin-top: 28px;
    }

    .ennemyStats {
        margin-top: 28px;
    }

    .cardHero .cardInt .stats {
        margin-top: -15px;
        margin-left: 10px;
    }



    .cardEnnemy .cardInt .portrait img {
        margin-left: -30px
    }
}