/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
/* Basalt */
@font-face {
    font-family: Basalt;
    src: url("/assets/font/Basalt.ttf");
}

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background: rgb(25, 7, 53, 0.9);
    --white: #FFFFFF;
    --blue: #689FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

body:-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.info {
    height: 80px;
    width: auto;
}

.level {
    font-family: Basalt;
    font-size: 36px;
    color: var(--white);
    margin-top: 1.2%;
    margin-left: 2%;
}


.combat {
    display: flex;
    height: 40%;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: row;
    justify-content: space-between;
}

.cardCombat {
    width: 40%;
    height: 65%;
    background-color: var(--background);
    border-radius: 22px;

}

.cardInt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 8px;
}

.cardEnnemy .cardInt {
    margin-left: -120px;
}

.stats {
    display: flex;
    flex-direction: column;
    color: var(--white);
    justify-content: space-evenly;
    height: 80%;
    padding-bottom: 20px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.ennemyStats {
    margin-left: 0;
    margin-right: 40px;
}

.cardHero {
    align-self: flex-end;
}

.stats p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.name {
    font-size: 48px !important;
    font-family: Basalt !important;
    margin-top: -25px;
}

.HP {
    margin-top: 25px;
}

.life {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.life img {
    width: 35px;
    height: 35px;
}

.portrait img {
    height: 220px;
    width: auto;
    margin-top: -70px;
    margin-right: -20px;
}

.cardEnnemy .cardInt .portrait img {
    height: 220px;
    width: auto;
    margin-top: -20px;
    margin-left: -20px;
}


.combatTextEnnemy {
    font-family: Basalt;
    font-size: 36px;
    color: red;
    position: absolute;
    z-index: 40000;
    opacity: 0;
}

.combatTextHero {
    font-family: Basalt;
    font-size: 36px;
    color: red;
    position: absolute;
    z-index: 40000;
    opacity: 0;
    margin-top: -50px;
}

.combatTextPotion {
    font-family: Basalt;
    font-size: 36px;
    color: white;
    position: absolute;
    z-index: 40000;
    opacity: 0;
    margin-top: -50px;

}

.potIcoMessage {
    height: 33px;
    width: auto;
}

.combatTextAnimation {
    animation: combatText 2s ease-out;
    animation-fill-mode: forwards;

}

.combatHeroAnimation {
    animation: combatTextHero 2s ease-out;
    animation-fill-mode: forwards;

}

@keyframes combatText {
    from {
        margin-top: 0;
        opacity: 100%;

    }

    to {
        margin-top: -110px;
        opacity: 0%;
    }
}

@keyframes combatTextHero {
    from {
        margin-top: -80px;
        opacity: 100%;

    }

    to {
        margin-top: -190px;
        opacity: 0%;
    }
}




/* -------------------------------------------------------------------------- */
/*                                   JAUGES                                   */
/* -------------------------------------------------------------------------- */
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#healthBar {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}

.hp {
    box-sizing: border-box;
    width: 200px;
    height: 18px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}

.hpBar {
    background: rgb(2, 250, 76);
    box-shadow: 0 5px 50px 0 rgb(2 250 76) inset, 0 5px 90px 0 rgb(2 250 76) inset, 0 5px 25px 0 rgb(2 250 76);
    width: 100%;
    height: 10px;
    border-radius: 20px;
    position: relative;
    transition: 1s ease-out;
}


.badguyBar {
    background: rgb(255, 0, 0);
    box-shadow: 0 5px 50px 0 rgb(255, 0, 0) inset, 0 5px 150px 0 rgb(255, 0, 0),
        0 5px 90px 0 rgb(255, 0, 0) inset, 0 5px 25px 0 rgb(255, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 10px;
    position: relative;
    transition: 1s ease-out;
}


.mana {
    box-sizing: border-box;
    width: 200px;
    height: 14px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.manaBar {
    width: 0%;
    height: 7px;
    border-radius: 8px;
    position: relative;
    transition: 1s ease-out;
}


/* -------------------------------------------------------------------------- */
/*                          BOUTTON COMBAT BOUM BOUM                          */
/* -------------------------------------------------------------------------- */
.control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 35px;
    width: 50%;
    min-width: 640px;
    align-self: center;
    height: 30%;
    margin-top: 40px;
}

.control button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 53px;
    background: linear-gradient(90deg, #561459 -20.18%, #270847 121.1%);
    font-size: 28px;
    color: var(--white);
    font-family: basalt;
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
    height: 90px;

}

.attackImg {
    background-color: var(--background);
    border-radius: 50px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.attackImg img {
    height: 80px;
    width: auto;
    margin: auto;
}

.controlButton:enabled:hover {
    outline: 4px solid #689FFF !important
}

/*

.controlButton {
    width: 335px;
    
    cursor: pointer;
}




.controlButton:disabled {
    background: linear-gradient(90deg, #431a44 -20.18%, #1e0e30 121.1%);
    cursor: not-allowed;
    color: grey;
}

#bigAttackName {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ultimateAttackName {
    display: flex;
    align-items: center;
    justify-content: center;
}


.attackName {
    display: flex;
    align-items: center;
    justify-content: center;
}




.potion img {
    height: 65px;
    width: auto;
}

#stockPotion {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    justify-self: center
} */





/* -------------------------------------------------------------------------- */
/*                                  Menu Side                                 */
/* -------------------------------------------------------------------------- */
.side {
    height: 100vh;
    width: 120px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    transition: 1s;

}

.sidebar {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    border-radius: 65px 0 0 65px;
    border: 6px rgb(255, 228, 76) solid;
    border-right: none;
    background-image: url('../img/Rectangle 26.png');
}

.side-open {
    width: 50%;
    transition: 1s;
}



/* -------------------------------- Settings -------------------------------- */
.settings {
    position: absolute;
    left: 30px;
    bottom: 20px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 20px;
}

.settings img {
    height: 40px;
    width: 40px;
    transition: all 1s;
}

.settings:hover,
.settings:focus {
    box-shadow: inset 2px 4px 2px 1px rgba(154, 96, 221, 0.2);
}

.settings img:hover,
.settings img:focus {
    transform: rotate(180deg);
    transition: 1s;
}


.settingsPanel {
    position: absolute;
    top: 10%;
    left: 12.5%;
    width: 75%;
    height: 80%;
    background-color: var(--background);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 36px;
    font-family: 'Poppins';
    font-size: 36px;
    color: var(--white);
    transition: 0.8s ease-out;

}


.settings-hidden {
    top: -800%;
    transition: 0.8s ease-out;
}

.panelInside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.panelTitle {
    font-family: Basalt;
    font-size: 48px;
    margin-bottom: 34px;
}

.soundGauge {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(62, 62, 62);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: var(--blue);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #46127C;
}

input:focus+.slider {
    box-shadow: 0 0 1px #46127C;
}

input:checked+.slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.selectLanguage {
    width: 280px;
    display: flex;
    justify-content: space-around;
}

.flag {
    height: 82px;
    width: 82px;
}

.flag:hover,
.flag:focus {
    border: 3px var(--blue) solid !important;
    border-radius: 50%;

}


.blurred {
    -webkit-filter: blur(1px) grayscale(20%);
    filter: blur(1px) grayscale(20%);
}

.settingsValidate {
    height: 60px;
    width: 220px;
    background: linear-gradient(90deg, #561459 -20.18%, #270847 121.1%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: Basalt;
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
}

.settingsValidate:hover,
.settingsValidate:focus {
    border: 3px var(--blue) solid !important;
}