* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

:root {
    --background: rgba(25, 7, 53, 0.959);
    --white: #FFFFFF;
    --blue: #689FFF;
  }

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@font-face {
    font-family: Basalt;
    src: url("../font/Basalt.ttf") format("TrueType");
}

@font-face {
    font-family: Legend;
    src: url("../font/Legend.ttf") format("TrueType");
}

body {

    background-image: url("../img/14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;

}



h2 {
    height: 54px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 35px;
}

.sexChoice {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: -55px;
}


.choice {
    width: 100px;
    height: 100px;
    background: rgba(29, 12, 65, 0.73);
    border-radius: 21px;
    margin: 45px;
    border: none;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: brightness(50%);
}

#img1,
#img2 {
    height: 60px;
}

.persoChoice {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.choice2 {
    width: 150px;
    height: 150px;
    position: relative;
    transition: 0.5s ease-out;
    background: rgba(29, 12, 65, 0.55);
    border-radius: 21px;
    border: none;
    margin: 45px;
    filter: brightness(50%);
}

.choice2 img {
    height: 100%;
    width: auto;
}




#nameHero {
    width: 242px;
    height: 40px;
    background-color: #391B6E;
    border-radius: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: none;
    color: #C2BFC5;
    text-align: center;
}

.inputForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: #ffff;

}

input:hover,
input:focus {
    outline: solid 5px #689FFF;

}

.choice:hover {
    outline: solid 5px #689FFF;
    background-color: #391B6E;
    filter: brightness(100%);
}

.choice2:hover {
    outline: solid 5px #689FFF;
    background-color: #391B6E;
    filter: brightness(100%);
    width: 200px;
    height: 200px
}
#buttonSubmit{
  margin-top: 25px;
width: 218px;
height: 55px;
background: linear-gradient(90deg, #561459 -20.18%, #270847 121.1%);
border-radius: 53px;
border: none;
font-family: Basalt;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #E1DFF0;



}
#message{
    font-size: 18px ;
    font-family: poppins;
    margin-top: 15px;
    color: red;
    font-weight: bold;
    display: none;
}




.settings {
    position: absolute;
    left: 30px;
    bottom: 20px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 20px;
  }
  
  .settings img {
    height: 40px;
    width: 40px;
    transition: all 1s;
  }
  
  .settings:hover,
  .settings:focus {
    box-shadow: inset 2px 4px 2px 1px rgba(154, 96, 221, 0.2);
  }
  
  .settings img:hover,
  .settings img:focus {
    transform: rotate(180deg);
    transition: 1s;
  }
  
  /* -------------------------------- Parametre ------------------------------- */
  
  .settingsPanel {
    position: absolute;
    top: 10%;
    left: 12.5%;
    width: 75%;
    height: 80%;
    background-color: var(--background);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 36px;
    font-family: PoppinsRegular;
    font-size: 36px;
    color: var(--white);
    transition: 0.8s ease-out;
  
  }
  
  
  .settings-hidden {
    top: -175%;
    transition: 0.8s ease-out;
  }
  
  .panelInside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
  .panelTitle {
    font-family: Basalt !important;
    font-size: 48px;
    margin-bottom: 34px;
  }
  
  .soundGauge {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* --------------------------------- TOGGLE --------------------------------- */
  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
  }



  #iframe {
    background-color: rgb(17, 10, 31);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1000000000;
}

#iframe::-webkit-media-controls {
    display: none !important;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: var(--blue);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #031c8f;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #46127C;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .selectLanguage {
    width: 280px;
    display: flex;
    justify-content: space-around;
  }
  
  .flag {
    height: 82px;
    width: 82px;
  }
  
  .flag:hover,
  .flag:focus {
    border: 3px var(--blue) solid !important;
    border-radius: 50%;
  
  }
  
  
  .blurred {
    -webkit-filter: blur(1px) grayscale(20%);
    filter: blur(1px) grayscale(20%);
  }
  
  /* ---------------------------- Bouton validation --------------------------- */
  .settingsValidate {
    height: 60px;
    width: 220px;
    background: linear-gradient(90deg, #561459 -20.18%, #270847 121.1%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: Basalt;
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
    border: none;
  }
  
  .settingsValidate:hover,
  .settingsValidate:focus {
    border: 3px var(--blue) solid !important;
    display: none;
    z-index: 1000000000;
}

#iframe::-webkit-media-controls {
    display: none !important;
}
