@font-face {
  font-family: Basalt;
  src: url("../font/Basalt.ttf") format("TrueType");
}

@font-face {
  font-family: Legend;
  src: url("../font/Legend.ttf") format("TrueType");
}

:root {
  --background: rgba(25, 7, 53, 0.959);
  --white: #FFFFFF;
  --blue: #689FFF;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden !important;

}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden !important;
  background-color: #270847;
  font-family: Basalt;
  background-image: url("../img/shop1.jpg");
  background-size: cover;
  color: rgb(255, 255, 255) !important;
  padding: 35px;

}

@-webkit-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@-moz-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@-ms-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@-o-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

#arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  height: 0;
  margin: 60px 0px 0px 360px;
  position: absolute;
  width: 0;

  -webkit-animation: arrow_anim .3s steps(3) infinite;
  -moz-animation: arrow_anim .3s steps(3) infinite;
  -ms-animation: arrow_anim .3s steps(3) infinite;
  -o-animation: arrow_anim .3s steps(3) infinite;
  animation: arrow_anim .3s steps(3) infinite;
}

.shop {
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.rowD {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 35px;
  position: fixed;

}

.rowD h1 {
  background: rgb(17, 10, 31);
  height: 8w9px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-left: -5px;
  z-index: 15;
  font-family: Basalt;
}

#dialog {
  height: 90px;
  background: rgb(17, 10, 31);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 0 0 14px rgb(17, 10, 31);
  color: #f1eeee;
  font-family: 'Basalt';
  padding: 20px 20px 20px 20px;
  text-transform: uppercase;
  word-spacing: 3px;
  width: 800px;
  font-size: 20px;
}

#villageois {
  height: 119px;
  width: 119px;
  background-color: rgb(17, 10, 31);
  border-radius: 10px 0px 0px 10px;
  z-index: 9999;
  padding: 5px;
  padding-left: 15px;
}

.mag {
  background-color: rgba(17, 10, 31, 0);
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: absolute;
  top: 0;

}

.items {

  height: 85%;
  width: 50%;
  padding: 20px;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
  background-image: url(../img/Rectangle\ 26.png);
  border-radius: 45px;
}



.shopping {

  height: 90%;
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#coin {
  height: 45px;
}

#moula {
  font-family: poppins;
  font-weight: bold;
  font-size: 24px;
  padding-left: 25px;
}

.itemsInfos {
  height: 90%;
  width: 70%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.itemsTitle {
  height: 113px;
  margin-top: 25px;
  background-color: #190735da;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.itemsTitle h1 {
  font-family: basalt !important;
  font-size: 48px !important;
}

.item1 {
  height: 150px;
  margin-top: 25px;
  background: #0F0426;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;

}

.itemCol {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

#epee1 {
  height: 125px;
  width: 35px;
  transform: rotate(-12deg);
}

.boxdiv {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#buttonRAS {
  width: 250px;
  height: 60px;
  background: linear-gradient(90deg, #561459 -20.18%, #270847 121.1%);
  border-radius: 53px;
  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  color: #FFFFFF;
  border: none;
  margin-top: 155px;
}

a {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}


@-webkit-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@-moz-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@-ms-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@-o-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

@keyframes arrow_anim {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 67px;
  }
}

#arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  height: 0;
  margin: 60px 0px 0px 360px;
  position: absolute;
  width: 0;
  -webkit-animation: arrow_anim .3s steps(3) infinite;
  -moz-animation: arrow_anim .3s steps(3) infinite;
  -ms-animation: arrow_anim .3s steps(3) infinite;
  -o-animation: arrow_anim .3s steps(3) infinite;
  animation: arrow_anim .3s steps(3) infinite;
}

#dialog {
  height: 110px;
  background: #0F0426;
  border-radius: 5px;
  box-shadow: #0F0426;
  color: #f5f5f5;
  font-family: poppins;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  position: absolute;
  bottom: 0;
  left: 350px;
  text-transform: uppercase;
  word-spacing: 3px;
  width: 800px;
  text-align: center;
}

#townie {
  z-index: 1000001;
  height: 350px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 95px;
}













.settings {
  position: absolute;
  left: 30px;
  bottom: 20px;
  background-color: var(--background);
  padding: 10px;
  border-radius: 20px;
}

.settings img {
  height: 40px;
  width: 40px;
  transition: all 1s;
}

.settings:hover,
.settings:focus {
  box-shadow: inset 2px 4px 2px 1px rgba(154, 96, 221, 0.2);
}

.settings img:hover,
.settings img:focus {
  transform: rotate(180deg);
  transition: 1s;
}

/* -------------------------------- Parametre ------------------------------- */

.settingsPanel {
  position: absolute;
  top: 10%;
  left: 12.5%;
  width: 75%;
  height: 80%;
  background-color: var(--background);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 36px;
  font-family: PoppinsRegular;
  font-size: 36px;
  color: var(--white);
  transition: 0.8s ease-out;

}


.settings-hidden {
  top: -175%;
  transition: 0.8s ease-out;
}

.panelInside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.panelTitle {
  font-family: Basalt !important;
  font-size: 48px;
  margin-bottom: 34px;
}

.soundGauge {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: var(--white);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* --------------------------------- TOGGLE --------------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(62, 62, 62);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: var(--blue);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #031c8f;
}

input:focus+.slider {
  box-shadow: 0 0 1px #46127C;
}

input:checked+.slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selectLanguage {
  width: 280px;
  display: flex;
  justify-content: space-around;
}

.flag {
  height: 82px;
  width: 82px;
}

.flag:hover,
.flag:focus {
  border: 3px var(--blue) solid !important;
  border-radius: 50%;

}


.blurred {
  -webkit-filter: blur(1px) grayscale(20%);
  filter: blur(1px) grayscale(20%);
}

/* ---------------------------- Bouton validation --------------------------- */
.settingsValidate {
  height: 60px;
  width: 220px;
  background: linear-gradient(90deg, #561459 -20.18%, #270847 121.1%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: Basalt;
  color: var(--white);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.settingsValidate:hover,
.settingsValidate:focus {
  border: 3px var(--blue) solid !important;
}